services:
  stable-diffusion-comfyui:
    image: rocm/pytorch:latest
    ports:
      - "${COMFYUI_PORT}:${COMFYUI_PORT}"
    restart: no
    command: ["/conf/startup-comfyui.sh"]
    devices:
#      - "/dev/kfd:/dev/kfd"
      - "/dev/dri:/dev/dri"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp=unconfined
    volumes:
      - ./data/home-comfyui:/root
      - ./data/checkpoints:/checkpoints
      - ./conf:/conf
    environment:
      - DOCKER_INSTANCE=comfyui
      - PYTHON_VERSION=${PYTHON_VERSION}
      - ROCM_VERSION=${ROCM_VERSION}
      - ROOT_DIR=${ROOT_DIR}
      - COMFYUI_PORT=${COMFYUI_PORT}


  stable-diffusion-webui:
    image: rocm/pytorch:latest
    ports:
      - "${WEBUI_PORT}:${WEBUI_PORT}"
    restart: no
    command: ["/conf/startup-webui.sh"]
    devices:
#      - "/dev/kfd:/dev/kfd"
      - "/dev/dri:/dev/dri"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp=unconfined
    volumes:
      - ./data/home:/root
      - ./data/home-webui:/root
      - ./data/checkpoints:/checkpoints
      - ./conf:/conf
    environment:
      - DOCKER_INSTANCE=webui
      - PYTHON_VERSION=${PYTHON_VERSION}
      - ROCM_VERSION=${ROCM_VERSION}
      - ROOT_DIR=${ROOT_DIR}
      - WEBUI_PORT=${WEBUI_PORT}
