[Unit]
Description=Stable Diffusion WebUI ROCm Container
After=network-online.target

[Container]
Image=localhost/sd-rocm:dev
Exec=/conf/startup-webui.sh

ContainerName=webui
Network=caddy.network

AddDevice=/dev/kfd:/dev/kfd
AddDevice=/dev/dri:/dev/dri

AddHost=host.docker.internal:host-gateway

Volume=/data/podman-data/sd-rocm/data/home-webui:/root
Volume=/data/podman-data/sd-rocm/data/checkpoints:/checkpoints
Volume=/data/podman-data/sd-rocm/conf:/conf

Environment=DOCKER_INSTANCE=webui
Environment=PYTHON_VERSION=3.12
Environment=ROCM_VERSION=nightly
Environment=ROOT_DIR=/root
Environment=WEBUI_PORT=7860

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
